body {
    font-family: 'ralewayregular', Arial, Tahoma, sans-serif;

}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/kit/raleway-bold-webfont.woff2') format('woff2'),
    url('../fonts/kit/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/kit2/raleway-regular.woff2') format('woff2'),
    url('../fonts/kit2/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Menu na górze*/
.main_width {
    width: 1050px;
    margin: 0 auto;
}

header {
    padding: 14px 0;
    background: black;
    color: white;
}

header a {
    margin-left: 16px;
    color: white;
    text-decoration: none;
}

header h1 {

    font-size: 14px;

    float: left;
}

header nav {
    margin-right: -15px;
    display: flex;
    justify-content: flex-end;
    float: right;
}

header li {
    font-size: 14px;
    float: left;
    width: 101px;

}

/* Fotel-------------------------------------------------------------------------------------*/
.banner {
    display: flex;
    justify-content: center;
}

.center {
    width: 1000px;
    margin: 0 auto;
    height: 470px;

}

.content .column-left {
    justify-content: center;
    width: 40%;

}

.content .column-right {
    width: 60%;
    float: right;

}

.column-right p {
    line-height: 20px;
    display: flex;
    margin-left: 70px;
    justify-content: flex-end;
    width: 70%;
    font-size: 15px;
}

.content .image {
    width: 115%;
    height: 500px;
    margin-top: 40px;
    margin-left: -63px;
    background-image: url("../images/black_chair.png");
    background-size: 581px;
    background-repeat: no-repeat;
}

.column-right {
    padding-top: 70px;
    text-align: center;

}

.content h1 {
    font-size: 40px;
    padding-bottom: 35px;
    margin-left: -65px;
}

div input {
    color: white;
    background-color: rgb(36, 186, 159);
    border-radius: 10%;
    font-size: 23px;
    padding: 14px;
    width: 265px;
    padding-right: 5px;
    margin-right: 60px;
    margin-top: 10px;
    text-align: center;
}

.colors {
    color: rgb(36, 186, 159);
}

.content {
    padding-top: 30px;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
}

/* Sekcja z boxami--------------------------------------------------------------------------------*/

.boxes {
    padding-top: 25px;
    height: 350px;
    width: 1050px;
    display: flex;
    justify-content: space-between;

}

.box1 {
    background-image: url("../images/box1_img.jpg");
    background-size: cover;
    position: relative;
    width: 30%;
    height: 230px;

}

.box2 {
    background-image: url("../images/box2_img.jpg");
    position: relative;
    width: 30%;
    height: 230px;

}

.box3 {

    width: 30%;
    height: 230px;
    text-align: center;
    border: 1px solid lightgrey;

}

.text1 {
    position: absolute;
    top: 50px;

    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    margin-top: 100px;
    text-align: left;
    padding: 5px;
    font-size: 15px;

}

.text2 {
    top: 50px;
    position: absolute;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.29);
    margin-top: 100px;
    text-align: left;
    padding: 5px;
    font-size: 15px;

}

.box3 h4 {
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 15px;

}

.underline {
    background: rgba(36, 186, 159, .9);
    width: 46%;
    height: 6px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.box3 p {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: grey;
}

/*Plany z cenami-----------------------------------------------------------------*/

.plans {
    width: 1050px;
    display: flex;
    justify-content: space-between;

}

.plans h4 {
    height: 50px;
}

.left-plan {
    position: relative;
    margin-right: 30px;
    margin-top: 70px;
    border: 2px solid lightgrey;
    width: 30%;
    height: 500px;
    background-color: white;

}

.light {
    margin-top: 30px;
    height: 700px;
    background-color: #f0f0f0;
}

.middle-plan {
    position: relative;
    margin-top: 70px;
    margin-right: 40px;
    border: 2px solid rgb(36, 186, 159);
    width: 30%;
    height: 500px;
    background-color: rgb(36, 186, 159);
}

.right-plan {
    background-color: white;
    position: relative;
    margin-top: 70px;
    margin-right: 30px;
    border: 2px solid lightgrey;
    width: 30%;
    height: 500px;
}

.center2 h3 {
    text-align: left;
    font-size: 30px;
}

.little-circle {
    position: absolute;
    border: 2px solid lightgray;
    top: -3%;
    left: 50%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.inside-circle {
    color: gray;
    border: 1px solid lightgrey;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    left: 30%;
    top: 17%;
    text-align: center;
    background-color: white;

}

.plans {
    background-color: #f0f0f0;
}

.center2 {
    background-color: #f0f0f0;
    width: 1050px;
    margin: 0 auto;
    height: 470px;
    margin-bottom: 25px;

}

.inside-circle p {
    margin-top: 18px;
    font-size: 35px;
}

.inside-circle h6 {
    font-size: 25px;
}

.underline2 {
    background: rgba(36, 186, 159, .9);
    width: 30%;
    height: 7px;
    margin-left: 5px;

}

.little-circle2 {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);

}

.middle-plan .little-circle2 {
    background-color: white;
}

.middle-plan .little-circle {
    background-color: rgba(36, 186, 159, .9);
    border: 1px solid rgba(36, 186, 159, .9);
}

.left-plan h5 {
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
    color: rgba(36, 186, 159, .9);
}

.middle-plan h5 {
    color: white;
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
}

.right-plan h5 {
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
    color: rgba(36, 186, 159, .9);
}

.first_inside_text {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: lightgray;
    top: 50%;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    color: grey;

}

.second_inside_text {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
    top: 60%;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    color: grey;
}

.third_inside_text {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: white;
    top: 70%;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    color: grey;

}

.middle-plan .first_inside_text {
    background-color: white;
}

.fourth_inside_text {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: white;
    top: 80%;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    color: grey;

}

.right-plan .third_inside_text {
    background-color: lightgrey;
}

.button {
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 30px;
    background-color: rgb(36, 186, 159);
    color: white;
    border-radius: 20%;
    cursor: pointer;
    outline: none;
    text-align: center;
}

.buttontext {
    padding-top: 3px;
    font-size: 20px;

}

.middle-plan .button {
    background-color: white;
    color: rgb(36, 186, 159);
}

/* Ostatnia sekcja -----------------------------------------------------------------------*/
.last_section {
    width: 100%;

}

.formula h7 {
    padding-top: 30px;
    font-size: 20px;
}

.formula p {
    width: 60%;
    margin-bottom: 40px;
}

.formula {
    width: 60%;
    display: flex;
    flex-direction: column;
    float: left;
}

.seat {
    width: 40%;
    float: right;
    display: flex;
    flex-direction: column;

}

.last_section .center2 {
    background-color: white;
}

.formula input {
    text-align: left;
    font-size: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-radius: 0;
    background-color: white;
}

.formula textarea {
    height: 150px;
    margin-top: 15px;
}
.seat {

    padding-top: 90px;
    float: right;

}
.seat_img{
    margin-left: 85px;
    background-image: url('../images/red_chair.png');
    height: 200px;
    width: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

}

textarea[name='area']{
    font-size: 30px;
}


input[name='check']{
    margin-top: 0;
    margin-left: 60px;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 0;
}

.seat label {
    margin-top: 40px;
    font-size: 20px;
    float: right;

}


.sent{
    margin-left: 65px;
    margin-top: 20px;
}

.sent input {
    width: 335px;
    height: 75px;
}